

/*Typography=========================== */


@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');


html,
body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    width: 90%!important;
}

a {
    text-decoration: none;
    color: #fff;
}

.dark {
    color: #222 !important;
}

.red {
    color: #ab2927;
}

.white {
    color: #fff !important;
}


.pagination a {
    padding: 0 10px;
}

.pagination strong {
    padding: 8px 20px;
    background: #39cbde;
    color: #fff;
}

.nav-links {
    margin: 0 20px;
}

.nav-links a {
    padding: 0 10px;
}

.nav-links span {
    padding: 8px 20px;
    background: #39cbde;
    color: #fff;
}

.cont {
	font-size: 15px;
    line-height: 21px;
}
.cont1 {
	font-size: 17px;
    line-height: 28px;
}

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    font-size: 14px;
    line-height: 24px;
    color: #222;
}

a {
    color: #6f6f6f;
}

a,
a:active,
a:focus,
a:hover {
    outline: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:hover {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #3f3f3f;
    margin: 0 0 15px 0;
    letter-spacing: 1px;
    font-weight: 500;
}

h1 {
    font-size: 48px;
    line-height: 52px;
}

h2 {
    font-size: 36px;
    line-height: 48px;
}

h3 {
    font-size: 30px;
    line-height: 36px;
}

h4 {
    font-size: 24px;
    line-height: 30px;
}

h5 {
    font-size: 18px;
    line-height: 24px;
}

h6 {
    font-size: 14px;
    line-height: 18px;
}

p {
    margin-bottom: 20px;
}

.section {
    padding: 50px 0;
}

nav.sticky.bootsnav ul.nav > li > a {
    color: #273272;
}


/*Navbar Adjusment=========================== */


/* Navbar Atribute ------*/

.attr-nav > ul > li > a {
    /* padding: 28px 15px;*/
    padding: 5px 8px 3px 10px;
    background: #E00;
    margin: 8px;
    border-radius: 5px;
}

.search i {
    font-size: 35px;
    color: #fff;
}

ul.cart-list > li.total > .btn {
    border-bottom: solid 1px #cfcfcf !important;
    color: #fff !important;
    padding: 10px 15px;
}

.solslider {
    padding-top: 170px;
    padding-bottom: 230px;
}

.sol-child-slider {
    padding-top: 170px;
    padding-bottom: 80px !important;
}

.tabs-left li {
    background: #f7f7f7;
}

active.tab-content::after {
    top: 16px;
    left: -50px;
    bottom: auto;
    border-width: 10px 50px 10px 0;
    border-color: transparent #f3961c;
}


.foothd {
    color: #fff;
    text-transform: uppercase;
    text-align: left;
}

.mx-1 {
    background: #fff !important;
    cursor: pointer;
    padding: 10px 14px !important;
    border-radius: 50%;
}

.mx-1:hover {
    background: #E00 !important;
    cursor: pointer;
    padding: 10px 14px !important;
    border-radius: 50%;
}

.container.text-center.text-md-left {
    padding-bottom: 48px;
}

.mx-1:hover i {
    color: #fff;
}

.footlnk li {
    text-align: left;
}

.footlnk li a {
    color: #fff;
    text-decoration: none;
	font-size: 15px;
}


.slider-texthome {
    font-size: 38px;
    color: #1B87CB;
    letter-spacing: 0;
    line-height: 50px;
}

.slider-textcont {
    font-size: 45px;
    color: #1B87CB;
    letter-spacing: 0;
    line-height: 60px;
}
p.text-rotator.leadtxt {
    font-size: 28px;
    padding: 0px 84px;
    line-height: 40px;
    margin-bottom: 20px;
}


.sliderlead {
    font-size: 20px;
    letter-spacing: 0;
    margin-top: 5px;
    margin-bottom: 7px;
} 

.slider-text {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
}

.txthead{font-size:20px;
         line-height:24px;
		 font-weight:700;
		 }

		 
		 
		 
.w-100 {
    width: 46%!important;
}


.buttoncta {}


.buttoncta a:hover {
    background: #ea1616;
    color: #fff;
    padding: 7px 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 2px 4px 7px 0px #484545;
}

.fancy {
    line-height: 0.5;
    text-align: left;
    margin-left: 115px;
}

.fancy span {
    display: inline-block;
    position: relative;
}

.fancy span:before {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid #DD0000;
    border-top: 1px solid #DD0000;
    top: 0;
    width: 100px;
}

.fancy span:before {
    right: 100%;
    margin-right: 15px;
}

.fancy span:after {
    left: 100%;
    margin-left: 15px;
}

@media (min-width: 1024px) {
    /* Navbar General ------*/
    nav.navbar ul.nav > li > a {
    padding: 30px 15px;
    font-size: 18px;
    font-weight: normal!important;
	}
    nav.navbar .navbar-brand {
        margin-top: 0;
    }
    nav.navbar .navbar-brand img.logo {
        width: 50px;
    }
    nav.navbar .navbar-brand {
        margin-top: 0;
    }
    nav.sticky .navbar-brand {
        margin-top: -14px;
    }
    nav.navbar .navbar-brand img.logo {
        width: 224px;
        background: #fff;
        padding: 6px;
        border-radius: 5px;
    }
    nav.navbar li.dropdown ul.dropdown-menu {
        border-top: solid 5px;
    }
    /* Navbar Center ------*/
    nav.navbar-center .navbar-brand {
        margin: 0 !important;
    }
    /* Navbar Brand Top ------*/
    nav.navbar-brand-top .navbar-brand {
        margin: 10px !important;
    }
    /* Navbar Full ------*/
    nav.navbar-full .navbar-brand {
        position: relative;
        top: -15px;
    }
    /* Navbar Sidebar ------*/
    nav.navbar-sidebar ul.nav,
    nav.navbar-sidebar .navbar-brand {
        margin-bottom: 50px;
    }
    nav.navbar-sidebar ul.nav > li > a {
        padding: 10px 15px;
        font-weight: bold;
    }
    /* Navbar Transparent & Fixed ------*/
    nav.navbar.bootsnav.navbar-transparent.white {
        background-color: rgba(255, 255, 255, 0.3);
        border-bottom: solid 1px #bbb;
    }
    nav.navbar.navbar-inverse.bootsnav.navbar-transparent.dark,
    nav.navbar.bootsnav.navbar-transparent.dark {
        background-color: rgba(0, 0, 0, 0.3);
        border-bottom: solid 1px #555;
    }
    nav.navbar.bootsnav.navbar-transparent.white .attr-nav {
        border-left: solid 1px #bbb;
    }
    nav.navbar.navbar-inverse.bootsnav.navbar-transparent.dark .attr-nav,
    nav.navbar.bootsnav.navbar-transparent.dark .attr-nav {
        border-left: solid 1px #555;
    }
    nav.navbar.bootsnav.no-background.white .attr-nav > ul > li > a,
    nav.navbar.bootsnav.navbar-transparent.white .attr-nav > ul > li > a,
    nav.navbar.bootsnav.navbar-transparent.white ul.nav > li > a,
    nav.navbar.bootsnav.no-background.white ul.nav > li > a {
        color: #fff;
    }
    nav.navbar.bootsnav.navbar-transparent.dark .attr-nav > ul > li > a,
    nav.navbar.bootsnav.navbar-transparent.dark ul.nav > li > a {
        color: #eee;
    }
}

@media (max-width: 992px) {
    /* Navbar General ------*/
    nav.navbar .navbar-brand {
        margin-top: 0;
        position: relative;
        top: 4px;
    }
    nav.navbar .navbar-brand img.logo {
        width: 174px;
    }
    .attr-nav > ul > li > a {
        padding: 10px;
    }
    /* Navbar Mobile slide ------*/
    nav.navbar.navbar-mobile ul.nav > li > a {
        padding: 15px 15px;
    }
    nav.navbar.navbar-mobile ul.nav ul.dropdown-menu > li > a {
        padding-right: 15px !important;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
    nav.navbar.navbar-mobile ul.nav ul.dropdown-menu .col-menu .title {
        padding-right: 30px !important;
        padding-top: 13px !important;
        padding-bottom: 13px !important;
    }
    nav.navbar.navbar-mobile ul.nav ul.dropdown-menu .col-menu ul.menu-col li a {
        padding-top: 13px !important;
        padding-bottom: 13px !important;
    }
    /* Navbar Full ------*/
    nav.navbar-full .navbar-brand {
        top: 0;
        padding-top: 10px;
    }
}


/* Navbar Inverse=================================*/

nav.navbar.navbar-inverse {
    background-color: #222;
    border-bottom: solid 1px #303030;
}

nav.navbar.navbar-inverse ul.cart-list > li.total > .btn {
    border-bottom: solid 1px #222 !important;
}

nav.navbar.navbar-inverse ul.cart-list > li.total .pull-right {
    color: #fff;
}

nav.navbar.navbar-inverse.megamenu ul.dropdown-menu.megamenu-content .content ul.menu-col li a,
nav.navbar.navbar-inverse ul.nav > li > a {
    color: #eee;
}

nav.navbar.navbar-inverse ul.nav > li.dropdown > a {
    background-color: #222;
}

nav.navbar.navbar-inverse li.dropdown ul.dropdown-menu > li > a {
    color: #999;
}

nav.navbar.navbar-inverse ul.nav .dropdown-menu h1,
nav.navbar.navbar-inverse ul.nav .dropdown-menu h2,
nav.navbar.navbar-inverse ul.nav .dropdown-menu h3,
nav.navbar.navbar-inverse ul.nav .dropdown-menu h4,
nav.navbar.navbar-inverse ul.nav .dropdown-menu h5,
nav.navbar.navbar-inverse ul.nav .dropdown-menu h6 {
    color: #fff;
}

nav.navbar.navbar-inverse .form-control {
    background-color: #333;
    border-color: #303030;
    color: #fff;
}

nav.navbar.navbar-inverse .attr-nav > ul > li > a {
    color: #eee;
}

nav.navbar.navbar-inverse .attr-nav > ul > li.dropdown ul.dropdown-menu {
    background-color: #222;
    border-left: solid 1px #303030;
    border-bottom: solid 1px #303030;
    border-right: solid 1px #303030;
}

nav.navbar.navbar-inverse ul.cart-list > li {
    border-bottom: solid 1px #303030;
    color: #eee;
}

nav.navbar.navbar-inverse ul.cart-list > li img {
    border: solid 1px #303030;
}

nav.navbar.navbar-inverse ul.cart-list > li.total {
    background-color: #333;
}

nav.navbar.navbar-inverse .share ul > li > a {
    background-color: #555;
}

nav.navbar.navbar-inverse .dropdown-tabs .tab-menu {
    border-right: solid 1px #303030;
}

nav.navbar.navbar-inverse .dropdown-tabs .tab-menu > ul > li > a {
    border-bottom: solid 1px #303030;
}

nav.navbar.navbar-inverse .dropdown-tabs .tab-content {
    border-left: solid 1px #303030;
}

nav.navbar.navbar-inverse .dropdown-tabs .tab-menu > ul > li > a:hover,
nav.navbar.navbar-inverse .dropdown-tabs .tab-menu > ul > li > a:focus,
nav.navbar.navbar-inverse .dropdown-tabs .tab-menu > ul > li.active > a {
    background-color: #333 !important;
}

nav.navbar-inverse.navbar-full ul.nav > li > a {
    border: none;
}

nav.navbar-inverse.navbar-full .navbar-collapse .wrap-full-menu {
    background-color: #222;
}

nav.navbar-inverse.navbar-full .navbar-toggle {
    background-color: #222 !important;
    color: #6f6f6f;
}

@media (min-width: 1024px) {
    nav.navbar.navbar-inverse ul.nav .dropdown-menu {
        background-color: #222 !important;
        border-left: solid 1px #303030 !important;
        border-bottom: solid 1px #303030 !important;
        border-right: solid 1px #303030 !important;
    }
    nav.navbar.navbar-inverse li.dropdown ul.dropdown-menu > li > a {
        border-bottom: solid 1px #303030;
    }
    nav.navbar.navbar-inverse ul.dropdown-menu.megamenu-content .col-menu {
        border-left: solid 1px #303030;
        border-right: solid 1px #303030;
    }
    nav.navbar.navbar-inverse.navbar-transparent.dark {
        background-color: rgba(0, 0, 0, 0.3);
        border-bottom: solid 1px #999;
    }
    nav.navbar.navbar-inverse.navbar-transparent.dark .attr-nav {
        border-left: solid 1px #999;
    }
    nav.navbar.navbar-inverse.no-background.white .attr-nav > ul > li > a,
    nav.navbar.navbar-inverse.navbar-transparent.dark .attr-nav > ul > li > a,
    nav.navbar.navbar-inverse.navbar-transparent.dark ul.nav > li > a,
    nav.navbar.navbar-inverse.no-background.white ul.nav > li > a {
        color: #fff;
    }
    nav.navbar.navbar-inverse.no-background.dark .attr-nav > ul > li > a,
    nav.navbar.navbar-inverse.no-background.dark .attr-nav > ul > li > a,
    nav.navbar.navbar-inverse.no-background.dark ul.nav > li > a,
    nav.navbar.navbar-inverse.no-background.dark ul.nav > li > a {
        color: #3f3f3f;
    }
}

@media (max-width: 992px) {
    nav.navbar.navbar-inverse .navbar-toggle {
        color: #eee;
        background-color: #222 !important;
    }
    nav.navbar.navbar-inverse .navbar-nav > li > a {
        border-top: solid 1px #303030;
        border-bottom: solid 1px #303030;
    }
    nav.navbar.navbar-inverse ul.nav li.dropdown ul.dropdown-menu > li > a {
        color: #999;
        border-bottom: solid 1px #303030;
    }
    nav.navbar.navbar-inverse .dropdown .megamenu-content .col-menu .title {
        border-bottom: solid 1px #303030;
        color: #eee;
    }
    nav.navbar.navbar-inverse .dropdown .megamenu-content .col-menu ul > li > a {
        border-bottom: solid 1px #303030;
        color: #999 !important;
    }
    nav.navbar.navbar-inverse .dropdown .megamenu-content .col-menu.on:last-child .title {
        border-bottom: solid 1px #303030;
    }
    nav.navbar.navbar-inverse .dropdown-tabs .tab-menu > ul {
        border-top: solid 1px #303030;
    }
    nav.navbar.navbar-inverse.navbar-mobile .navbar-collapse {
        background-color: #222;
    }
}

@media (max-width: 767px) {
    nav.navbar.navbar-inverse.navbar-mobile ul.nav {
        border-top: solid 1px #222;
    }
}


/*Color=========================== */

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a:hover,
.side .widget ul.link li a:hover,
.side .widget ul.link li a:focus,
.check-list li:before,
ul.cart-list > li > h6 > a,
.attr-nav > ul > li > a:hover,
.attr-nav > ul > li > a:focus,
nav.navbar-sidebar ul.nav li.dropdown.on > a,
nav.navbar-sidebar .dropdown .megamenu-content .col-menu.on .title,
nav.navbar-sidebar ul.nav li.dropdown ul.dropdown-menu li a:hover,
nav.navbar ul.nav li.dropdown.on > a,
nav.navbar.navbar-inverse ul.nav li.dropdown.on > a,
nav.navbar-sidebar ul.nav li.dropdown.on ul.dropdown-menu li.dropdown.on > a,
nav.navbar .dropdown .megamenu-content .col-menu.on .title,
nav.navbar ul.nav > li > a:hover,
nav.navbar ul.nav > li.active > a:hover,
nav.navbar ul.nav li.active > a,
nav.navbar li.dropdown ul.dropdown-menu > li a:hover {
    color:#3dbcff;
}

nav.navbar.navbar-transparent ul.nav > li > a:hover,
nav.navbar.no-background ul.nav > li > a:hover,
nav.navbar ul.nav li.scroll.active > a,
nav.navbar.navbar-dark ul.nav li.dropdown ul.dropdown-menu > li > a:hover,
nav.navbar ul.nav li.dropdown.on > a,
nav.navbar-dark ul.nav li.dropdown.on > a {
    color:#060606 !important;
}

@media(max-width:920px) {
    nav.navbar .dropdown .megamenu-content .col-menu ul > li > a:hover,
    nav.navbar.navbar-dark .dropdown .megamenu-content .col-menu .title:hover {
        color: #0082C6 !important;
    }
}


/*Border=========================== */

ul.cart-list > li.total > .btn {
    border-color: #0082C6;
}

nav.navbar li.dropdown ul.dropdown-menu {
    border-top-color: #0082C6 !important;
}


/*Background=========================== */

ul.cart-list > li.total > .btn,
.attr-nav > ul > li > a span.badge,
nav.navbar .share ul > li > a:hover,
nav.navbar .share ul > li > a:focus {
    background-color: #0082C6;
}

ul.cart-list > li.total > .btn:hover,
ul.cart-list > li.total > .btn:focus {
    background-color: #dc3236 !important;
}


/*Accordion Menu*/

.panel-group .panel {
    border-radius: 28px;
    box-shadow: none;
    border-color:none;
}

.panel-default > .panel-heading {
    padding: 0;
    border-radius: 28px;
    color: #212121;
    background-color: #FAFAFA;
    border-color: #EEEEEE;
}

.panel-title {
    font-size: 14px;
}

.panel-title > a {
   display: block;
   padding: 3px 15px;
   text-decoration: none;
   border-radius: 28px;
   font-size: 17px ;
   letter-spacing: 0px;
}
.more-less {
    float: right;
    color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
}

.more-less {
    top: 8px !important;
    font-weight: bold !important;
}

.navbar-toggle.collapsed {
    background: transparent !important;
    /* color: #fff !important;*/
}

.collapsed {
    background: #f7f7f7;
    color: #444 !important;
}

.collapsed > .more-less {
    color: #fff !important;
    font-weight: bold !important;
}

.nav.nav-justified > li > a {
    position: relative;
}

.nav.nav-justified > li > a:hover,
.nav.nav-justified > li > a:focus {
    background-color: transparent;
}

.nav.nav-justified > li > a > .quote {
    position: absolute;
    left: 0px;
    top: 0;
    opacity: 0;
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: transparent;
    border-radius: 15px;
    color: #fff;
}

.nav.nav-justified > li.active > a > .quote {
    opacity: 1;
}


/*.nav.nav-justified > li > a > img { box-shadow: 0 0 0 5px #EE0000; }*/

.nav.nav-justified > li > a > img {
    max-width: 100%;
    opacity: .3;
    -webkit-transform: scale(.8, .8);
    transform: scale(.8, .8);
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav.nav-justified > li.active > a > img,
.nav.nav-justified > li:hover > a > img,
.nav.nav-justified > li:focus > a > img {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.tab-pane .tab-inner {
    padding: 30px 0 20px;
}

@media (min-width: 768px) {
    .nav.nav-justified > li > a > .quote {
        left: auto;
        top: auto;
        right: 45%;
        bottom: 25px;
        font-size: 50px;
    }
    #nav-tabs .active .lead2 {
        color: #E00
    }
}

.section5 .nav.nav-justified > li > a > .quote {
    left: auto;
    top: auto;
    right: 45%;
    bottom: 68px;
    font-size: 50px;
}

.solli {
    display: inline;
    float: left;
}

.solli li {
    text-align: left;
    font-size: 16px;
}



.fancy2 {
    line-height: 0.5;
    text-align: left;
    margin-left: 115px;
}

.fancy2 span {
    display: inline-block;
    position: relative;
}

.fancy2 span:before {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    top: 0;
    width: 100px;
}

.fancy2 span:before {
    right: 100%;
    margin-right: 15px;
}

.fancy2 span:after {
    left: 100%;
    margin-left: 15px;
}

.fancy3 {
    line-height: 0.5;
    text-align: left;
    margin-left: 61px;
}

.fancy3 span {
    display: inline-block;
    position: relative;
}

.fancy3 span:before {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid #1B87CB;
    border-top: 1px solid #1B87CB;
    top: 0;
    width: 50px;
}

.fancy3 span:before {
    right: 100%;
    margin-right: 15px;
}

.fancy3 span:after {
    left: 100%;
    margin-left: 15px;
}



/*Fade content bs-carousel with hero headersCode snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.comImage credits: unsplash.com*/


/********************************/


/*       Fade Bs-carousel       */


/********************************/

.fade-carousel {
    position: relative;
    height: 100vh;
}

.fade-carousel .carousel-inner .item {
    height: 100vh;
}

.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #DB0000;
    border-color: #DB0000;
    opacity: .7;
}

.fade-carousel .carousel-indicators > li.active {
    width: 10px;
    height: 10px;
    opacity: 1;
}


/********************************/


/*          Hero Headers        */


/********************************/

.hero2 {
    padding-top: 10%;
}

.hero3 {
    padding-bottom: 20%;
}

.hero {
    position: absolute;
    vertical-align: middle;
    bottom: 0%;
    left: 7%;
    z-index: 3;
    color: #fff;
    text-align: left;
    /*text-transform: uppercase;      -webkit-transform: translate3d(-50%,-50%,0);         -moz-transform: translate3d(-50%,-50%,0);          -ms-transform: translate3d(-50%,-50%,0);           -o-transform: translate3d(-50%,-50%,0);              transform: translate3d(-50%,-50%,0);*/
}

.hero h1 {
    font-size: 4em;
    font-weight: bold;
    margin: 0 0 10px 0;
    padding: 0;
    color: #fff;
    text-align: left;
}

.hero h3 {
    font-size: 2em;
    color: #fff;
    text-align: left;
    font-weight: bold;
    margin: 5px 0 0 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
    -moz-transition: 2s all ease-in-out .1s;
    -ms-transition: 2s all ease-in-out .1s;
    -o-transition: 2s all ease-in-out .1s;
    transition: 2s all ease-in-out .1s;
}

.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
    -moz-transition: 2s all ease-in-out .1s;
    -ms-transition: 2s all ease-in-out .1s;
    -o-transition: 2s all ease-in-out .1s;
    transition: 2s all ease-in-out .1s;
}


/***slider2*****************************/

.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/*            Overlay           */


/********************************/


/********************************/


/*          Custom Buttons      */


/********************************/

.btn.btn-lg {
    padding: 10px 40px;
}

.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}


/********************************/


/*       Slides backgrounds     */


/********************************/

.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3,
.fade-carousel .slides .slide-4,
.fade-carousel .slides .slide-5 {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


/*.fade-carousel .slides .slide-1 {  background-image: url(https://ununsplash.imgix.net/photo-1416339134316-0e91dc9ded92?q=75&fm=jpg&s=883a422e10fc4149893984019f63c818); }.fade-carousel .slides .slide-2 {  background-image: url(https://ununsplash.imgix.net/photo-1416339684178-3a239570f315?q=75&fm=jpg&s=c39d9a3bf66d6566b9608a9f1f3765af);}.fade-carousel .slides .slide-3 {  background-image: url(https://ununsplash.imgix.net/photo-1416339276121-ba1dfa199912?q=75&fm=jpg&s=9bf9f2ef5be5cb5eee5255e7765cb327);}*/

#bs-carousel .carousel-indicators {
    margin-bottom: 36px;
}

nav.navbar .navbar-brand img.logo {
    background: url('../img/logo16.jpg') no-repeat !important;
    background-size: contain;
    padding: 5px;
    min-height: 54px;
	margin-top: 0px;
}

#page_id_1 nav.navbar .navbar-brand img.logo {
    background: url('../img/logo16.jpg') no-repeat !important;
    background-size: contain;
    padding: 10px;
    min-height: 54px;
}

nav.sticky .navbar-brand img.logo {
    background: url('../img/logo16.jpg') no-repeat !important;
    background-size: contain;
    padding: 10px;
    min-height: 74px;
	margin-top: 12px;
}

nav.navbar.bootsnav ul.nav > li > a {
    padding: 18px 15px;
    font-size: 16px;
}

ul.phone-strip {
    display: block;
    width: auto;
    float: left;
    margin: 0px;
    padding: 15px 0px;
	background: #eee;
	color: #000;
    font-size: 16px;
}

ul.phone-strip li {
    list-style: none;
    float: left;
    padding: 0 20px;
    color: #000;
}
.navbar-brand {
	float: left;
    height: 58px!important;
    padding: 4px 15px!important;
    font-size: 18px;
    line-height: 20px;
}

li.mob-btn {
    background: #ab2927;
    border-radius: 18px;
    line-height: 28px;
    color: #fff;
    width: 138px;
    text-align: center;
    margin: 14px 0px 14px 14px;
}
ul.mega-menulist li {
    padding: 4px 24px;
    font-size: 13px;
}
ul.mega-menulist li:hover {
    background: linear-gradient(96deg, #b1b7e6, #9fd4ff);
    color: #fff;
}
ul.mega-menulist a:hover {
    color: #fff;
    text-decoration: none;
}

ul.dropdown-menu.mega-menu {
    min-width: 600px!important;
        left: -50%;
    transform: translate(-50%);
    background: #fff url(https://www.janbasktraining.in/demo2019/img/nav-bg.jpg) top center no-repeat !important;
    background-size: contain!important;
    border: 0px!important;
}

ul.mega-menulist {
   border-right: 1px solid #e8e8e8;
    padding: 0px 0px;
    list-style: none;
    margin: 0px;
}
ul.mega-menulist2 {
    border-right: 0px;
}

.mega-menu .padding0{
	padding-left:0px;
	padding-right:0px;
}

/********************************/


/*          Media Queries       */


/********************************/

@media screen and (min-width: 980px) {
    .hero {
        width: 980px;
    }
}

@media screen and (max-width: 640px) {
    .hero h1 {
        font-size: 4em;
    }
}


/* Responsive Media Queries max 480px*/

@media screen and (max-width: 480px) {
    nav.navbar {
        padding-top: 7px !important;
    }
    nav.navbar .navbar-brand img.logo {
        background: none !important;
        padding: 10px;
        min-height: 64px;
    }
    nav.navbar .navbar-brand {
        background: url('../img/logo16.jpg') no-repeat !important;
        background-size: contain !important;
        min-height: 45px;
    }
    nav.navbar .navbar-brand img.logo {
        background: none !important;
        padding: 10px;
        min-height: 45px;
    }
    nav.sticky .navbar-brand img.logo {
        background: none !important;
        padding: 10px;
        min-height: 45px;
    }
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
}


/* Create an active/current "tab button" class */

.tab button.active {
    background-color: #00b1e5;
    color: #fff;
}


/* Style the tab content */

.tabcontent {
    float: left;
    padding: 30px 0px;
    width: 64%;
    border: none;
}

.tab {
    float: left;
    width: 33%;
    margin-left: 0%;
}

.tab button.active:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(238, 238, 238, 0);
    border-right-color: #eee;
    border-width: 10px;
    margin-top: -10px;
    transform: rotate(-180deg);
    border-color: rgba(19, 175, 235, 0);
    border-right-color: #00b1e5;
}


a.notxtdec {
    text-decoration: none;
}

.mb10 {
    margin-bottom: 10px;
}

.mt0 {
    margin-top: 0px !important;
}

.mb0 {
    margin-bottom: 0px !important;
}


/*****JT CSS*****/


nav.navbar.bootsnav ul.nav > li > a {
    color: #000!important;
}

nav.navbar li.dropdown ul.dropdown-menu {
    box-shadow: 0 4px 8px -3px #555454!important;
    border-top: 0px!important;
    margin-top: 0px;
}

.navbar {
    position: relative;
    min-height:58px!important
}

nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after {
    color: #ab2927;
}

div#navbar-menu {
    margin-top: 0px;
}

li.signline {
    position: relative;
}

li.signline:after {
    position: absolute;
    top: 50%;
    right: 0px;
    content: '';
    width: 2px;
    height: 20px;
    background: #ab2927;
    transform: translate(0,-50%);
}

.bannerhome p.slider-text.white {
    position: relative;
}

.bannerhome p.slider-text.white:after {
    content: '';
    background: #ffffff57;
    height: 2px;
    width: 100px;
    position: absolute;
    left: 0px;
    bottom: -100px;
}

.headbutton {
	padding: 8px 18px;
    border: 3px solid #ffffff;
    border-radius: 58px;
    color: #fff;
    text-align: center;
    background: #000000a6;
    font-size: 13px;
	font-weight: 700;
}

.headbutton1 {
    padding: 8px 18px;
    border: 3px solid #ffffff;
    border-radius: 58px;
    color: #fff;
    text-align: center;
    background: #ab2927;
    font-size: 14px;
    font-weight: 700;
    width: 160px;
}

.kln {
    width: 100%;
    float: left;
    margin-top: 40px;
}

.getcall-box {
    border: 0px;
    border-radius: 0px;
    text-align: center;
    padding: 26px 23px;
    width: 75%;
    float: right;
    margin-top: 18px;
}

.getcall-box h3.slider-text2 {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    padding-left: 22px;
    text-align: left;
	letter-spacing:0;
}
.getcall-box h3.slider-text2:after {
    content: '';
    background:#eeb617;
    left: 0px;
    position: absolute;
    width: 4px;
    height: 30px;
    top: 50%;
    transform: translate(0,-50%);
}

.getcall-box button.buttonctadarkbtn.btn.btn-lg {
    box-shadow: 5px 4px 3px #bbb0b0;
    width: 100%;
	    margin-top: 20px;
}

.tab-img button.buttonctadarkbtn.btn.btn-lg {
    padding: 6px 40px;
}

.instr-bx {
    background: #f7f7f7;
    width: 100%;
    float: left;
    border-radius: 48px;
    padding: 18px 0px;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
	text-align: center;
	position: absolute;
    bottom: -104px;
	box-shadow: 1px 10px 10px 1px #d6d6d6;
}

.getcall-box p.cont2.dark {
    font-size:17px;
    text-align: left;
}

.getcall-box input.form-control {
    border: 0px;
    border-bottom: 2px solid #868686;
    border-radius: 0px;
    box-shadow: none;
}

.getcall-box input.form-control:focus {
    border-bottom: 2px solid #ab2927;
	box-shadow: none;
}

button.buttonctadarkbtn.btn { 
    border-radius: 58px;
    background: #ab2927;
    color: #fff;
    font-size: 17px;
	font-weight: 700;
}


.tablink1 {
     background-color: transparent;
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0 0 8px 0px;
    font-size: 18px!important;
    width: 18%;
    border-bottom: 4px solid #444;
    margin: 0 12px;
	font-weight: 700;
}


.tablink1:hover {
    border-bottom:4px solid  #ab2927;
}

.tablink1:active {
    border-bottom:4px solid  #ab2927;
}

/****tab classes *****/

.register ul.nav.nav-tabs {
    width: 400px;
    margin: 0 auto;
    border: 0px;
    text-align: center;
}

.register ul.nav.nav-tabs li.nav-item {
    display: table;
    margin: 0 auto;
    width: 200px;
    text-align: center;
}

.register ul.nav.nav-tabs li.nav-item a.nav-link {
	    padding: 10px 30px;
    font-size: 17px;
    color: #ffffff;
    background: #b12c27;
    /* border-radius: 4px; */
    border: 0px;
    box-shadow: 1px 1px 8px 1px #c5bdbd75;
    /*padding: 10px 30px;
    font-size: 17px;
    color: #040404;
    background: #fff;
    border-radius: 4px;
	    border: 0px;
		box-shadow: 1px 1px 8px 1px #c5bdbd75;*/
}
.register ul.nav.nav-tabs li.nav-item.active a {
    /*box-shadow: inset 1px 2px 12px #00000052;
    background: #ab2927;
    color: #fff;*/
	box-shadow: inset 1px 2px 12px #00000052;
    background: #ffffff;
    color: #a92927;
}
.register .nav-tabs>li.active>a, .register .nav-tabs>li.active>a:focus, .register .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #02b5e1;
    border: 0px!important;
}

.responsive {
    line-height: 20px;
    background: #fff;
    padding: 10px;
}

.td-start {
    width: 100%;
    float: left;
    border-bottom: 1px solid rgba(151,151,151,0.1);
    padding: 10px 0px;
    display: flex;
    align-items: center;
	font-weight: 700;
	box-shadow: 1px 1px 8px 1px #c5bdbd75;
}
.td-txt {
    width: 100%;
    float: left;
    border-bottom: 1px solid rgba(151,151,151,0.1);
    padding: 10px 0px;
    display: flex;
    align-items: center;
}


.td-txt4 {
  background: #f7f7f7;
}
 

.btn-store1 {
    padding: 2px 16px !important;
    text-transform: none !important;
    letter-spacing: 0px !important;
    font-size: 12px !important;
    font-weight: 800;
}

.btn-store2 {
    background: #B12C27 none repeat scroll 0 0 !important;
    border-radius: 18px !important;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 13px !important;
    font-weight: 300;
    margin: 0 10px 10px 0;
    outline: medium none;
    padding: 2px 14px;
    position: relative;
    text-decoration: none;
}
.btn-store {
    background: #EEB617 none repeat scroll 0 0 !important;
    border-radius: 18px !important;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 13px !important;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0 10px 10px 0;
    outline: medium none;
    padding: 12px 10px 12px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease-out 0s;
}

td {
    text-align: center;
    vertical-align: middle;
    width: 238px;
    color: #77808a;
	 padding: 13px 0;
}
.durtd strong {
    font-size: 16px;
    color: #000;
    font-weight: 900 !important;
}

.timetd strong {
    font-size: 16px;
    color: #000;
    font-weight: 900 !important;
}
.hd th {
    vertical-align: text-top;
    text-align: center;
    font-size: 16px;
    padding: 10px;
}
.hd th {
    vertical-align: text-top;
    text-align: center;
    border-bottom: 1px solid #e4e4e4 !important;
}
.hd {
    padding: 7px 0;
    border: none;
}
.schdl {
    font-family: "montserrat";
}
.headingseaction {
    font-size: 22px !important;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffffff;
    border-left: 5px solid #eda900;
    padding-left: 24px;
}

.enrolltd {
    border-right: none;
}
th {
    border: none !important;
}

.button-area {
    margin: -21px auto 0px auto;
    text-align: center;
}

.button-area1 {
    background: white;
    padding: 8px 48px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    width: auto;
	box-shadow: 1px 1px 8px 1px #c5bdbd75;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tabcontent {
  display: none;
  width:100%;
}

span.icon-nav {
    display: block;
    box-shadow: 0px 2px 7px 2px #c5bdbd;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 0 auto 10px auto;
    padding: 12px 0px;
}

span.icon-nav img{margin:0 auto;}

#Course p.course.red {
    font-size: 28px;
    font-weight: 700;
    position: relative;
    padding-left: 28px;
    text-align: left;
}

#Course p.slider-cont.blue {
    margin-bottom: 48px;
}

p.course:after {
    content: '';
    background: #eeb617;
    left: 0px;
    position: absolute;
    width: 4px;
    height: 30px;
    top: 50%;
    transform: translate(0,-50%);
}


.button-area1:focus {
    outline: -webkit-focus-ring-color auto 0px!important; 
}



 

/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
  margin-top: 20px;
  margin-left: 0px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
      margin-bottom: 23px;
	  border: 0px;
	  box-shadow: 1px 1px 8px 1px #c5bdbd75;
	  border-right: 3px solid #444444;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #5A55A3;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #f7f7f7;
  border: 0px;
  color: #333;
  margin-bottom: 23px;
  border-right: 3px solid #ab2927;
}
div.bhoechie-tab-menu div.list-group>a.active:after {
    content:none;
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -6px;
    border-left: 0;
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    border-left: 8px solid #f7f7f7;
}

div.bhoechie-tab-content {
    box-shadow: 1px 1px 8px 1px #c5bdbd75;
    padding: 20px 20px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}

.form-head {
	font-size: 12px;
    color: white;
    letter-spacing: 0;
    margin-top: -24px;
    width: 114px;
    background: #444;
    line-height: 25px;
    float: left;
    text-align: left;
    padding-left: 10px;
}

div.bhoechie-tab-menu div.list-group>a.active p.form-head {
    background: #eda900;
    font-weight: bold;
    color: #000;
}

div.bhoechie-tab-menu p.cont2 {
    font-weight: bold;
    margin-top: 12px;
}

div.bhoechie-tab-content ul {
    margin: 0px;
    padding: 0px 0px;
    list-style: none;
}
div.bhoechie-tab-content ul li {
    padding: 4px 0px;
    color: #3c3c3c; 
}

.tab-img {
    background: #f7f7f7;box-shadow: 1px 1px 8px 1px #c5bdbd75;
    padding: 20px 0;
}

.tab-img img {
    width: 92%;
    margin: 14px auto 14px auto;
}

div.bhoechie-tab-menu div.list-group:after {
    background: #ab2927;
    position: absolute;
    top: 0px;
    content: '';
    width: 3px;
    height: 400px;
    left: 68px;
    z-index: -1;
}

span.icon-nav img {
    margin: 0 auto;
    width: 50px;
}

.tablink1 a {
    color: black;
}
.crm {
    background: #3598c1;
    color: #fff;
	padding: 24px 10px;
	height: 192px;
}
.crm p.slider-text.white, .million .counter p.slider-text.white {
   /* font-size: 48px; */    font-size: 35px;
}

.million {
    background: #414a53;
    color: #fff;
	padding: 24px 10px;
	height: 192px;
}

.half {
    background: #fff;
    padding: 8px;
    box-shadow: 1px 1px 8px 1px #c5bdbd75;
}

.half img {
    width: 330px;
    margin: 0 auto 10px auto;
}
 
.wehave {
    margin: 54px 0 0 -50px;
    background: #f7f7f7;box-shadow: 1px 1px 8px 1px #c5bdbd75;
    padding: 54px 70px;
}

.percentage {
    background: #f7f7f7;
    color: #414a53;
    padding: 10px 10px;
    box-shadow: 1px 1px 8px 1px #c5bdbd75;
}

.still {
    background: #fff;
    width: 92%;
    margin: 0 auto;
} 

i.fa.fa-sort-down.pull-right {
    font-size: 30px;
    line-height: 20px;
    color: #3598c1;
}

.percentage .counter p.slider-text {
    font-size: 80px;
    margin-top: 20px;
	    color: #414a53;
}

.doyou {
    background: #f7f7f7;
    color: #360d0e;
    padding: 8px 10px;
    box-shadow: 1px 1px 8px 1px #c5bdbd75;
	    width: 100%;
    float: left;
}
.doyou p{
    font-size: 20px;
    line-height: 28px;
}

.jobsare {
    width: 100%;
    float: left;
    background: #414a53;
	position: relative;
	padding-top: 14px;
}
.asper{width: 100%;
    float: left;
	    position: relative;}

.jobsare p.slider-text.white {
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    right: -20px;
}

.asper p.cont.white.mb0 {
    margin: 18px 0px;
    line-height: 22px;
}

.grace {
    width: 100%;
    float: left;
	background: #f7f7f7;
}
.grace img {
    border-radius: 50%;
    box-shadow: 1px 1px 8px 1px #afafaf;
	width: 100px;
    height: 100px;
}

.grace-bx {
    width: 100%;
    float: left;
    overflow: scroll;
    height: 310px;
    margin-top: 20px;
    background: #f7f7f7;
    padding: 20px 0px;
}


.still p.slider-text.dark {
    font-size:35px;
    line-height: 35px;
    color: #585353!important;}
	
p.nophone {
    font-size: 28px;
    font-weight: 700;
    color: #585353;
    text-align: center;
	margin-top: 20px;
}
	
	
.grace-bx::-webkit-scrollbar-thumb {
    border-radius: 0px;
    border: 2px solid white;
    background-color: rgb(171, 41, 39);
}
.grace-bx::-webkit-scrollbar {
  width: 8px;
height: 8px;}

.still {
    background: #fff;
    width: 92%;
    margin: 0 auto 20px auto;
    border-radius: 20px;
    padding: 21px 10px;
}
.still.maria p.slider-text.dark {
    font-size: 28px;
    font-weight: normal;
}

.still.maria span.red {
    font-size: 24px;
    font-weight: bold;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none!important;
}

input:-internal-autofill-selected {
    font-size: 16px;
    font-weight: 700;
}
select.custom-select.form-control {
	border: 0px;
    border-bottom: 2px solid #868686;
    border-radius: 0px;
    box-shadow: none;
    margin-bottom: 10px;
    width: 24%;
    float: left;
    margin-right: 16px;
    padding: 0px;
} 

p.lead4.red {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    padding: 4px 0;
}

.lead1 {
    font-size: 28px;
    font-weight: 700;
    position: relative;
    padding-left: 28px;
    text-align: left;
	line-height:34px;
} 

.lead1:after {
    content: '';
    background: #eeb617;
    left: 0px;
    position: absolute;
    width: 4px;
    height: 30px;
    top: 50%;
    transform: translate(0,-50%);
}

.lead2 {
    font-size: 22px;
    font-weight: 700;
}
.lead3 {
    font-size: 20px;
    font-weight: 700;
    position: relative;
    padding-left: 20px;
    text-align: left;
}

.lead3:after {
    content: '';
    background: #eeb617;
    left: 0px;
    position: absolute;
    width: 4px;
    height: 30px;
    top: 50%;
    transform: translate(0,-50%);
}

.slider-cont {
    font-size: 17px;
    line-height: 21px;
}

.cont2 {
    font-size: 15px;
    line-height: 20px;
}

.cont3 {
    font-size: 14px;
    line-height: 24px;
}

.still p.slider-text.dark {
   font-size: 27px;
   line-height: 29px;
   color: #585353!important;
}


.star-rating-review i.fa.fa-star {
    color: #FFC107;
}

ul.social {
    list-style: none;
}

li.fb-icon {
    background: url(https://www.janbasktraining.in/demo2019/img/sprite-JT.png);
    width: 40px;
    height: 40px;
    float: left;
	margin-right:8px;
    background-position: -43px -29px;
}

li.tw-icon {
    background-position: -99px -29px;
}

li.ld-icon.fb-icon {
    background-position: -161px -29px;
}

li.yu-icon.fb-icon {
    background-position: -219px -29px;
}

.footer-copyright.text-center.py-3.mb0.white {
    background: #000;
    padding: 10px;
}

ul.list-unstyled.footlnk li {
    padding: 4px 0px;
    
}

ul.list-unstyled.footlnk {
    padding: 14px 0px;
}

.lineon {
    position: relative;
	line-height: 46px;
}

.lineon:after {
    position: absolute;
    bottom: 0px;
    background: #fff;
    width: 40px;
    height: 2px;
    left: 0px;
    content: '';
}
.lineon:before {
    position: absolute;
    top: 48px;
    background: #777;
    width: 1px;
    height: 110px;
    right: 14px;
    content: '';
}

.lineon1 {
    position: relative;
	line-height: 46px;
}

.lineon1:after {
    position: absolute;
    bottom: 0px;
    background: #fff;
    width: 40px;
    height: 2px;
    left: 0px;
    content: '';
}

.whtlogo img{
	margin-top:20px;
}

.star-rating-review {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.tab-bx:after, .register:after {
    position: absolute;
    content: '';
    background: transparent;
    width: 280px;
    height: 280px;
    right: -180px;
    border-radius: 50%;
    border: 30px solid #e4e4e4db;
    top: -60px;
}

.tab-bx, .register {
    position: relative;
}
#Course {
    position: relative;
}

div#Course:after {
    position: fixed;
    content: '';
    background: transparent;
    width: 280px;
    height: 280px;
    left: -110px;
    border-radius: 50%;
    border: 30px solid #e4e4e4db;
    bottom: 30px;
    z-index: -1;
}

.star-rating-review i.fa.fa-star.greystar {
    color: #848484!important;
}

.so-iconbx {
    position: relative;
    border-radius: 50%;
}

.so-icon {
    position: absolute;
    left: 0px;
    top: 40px;
    border-radius: 8px;
    box-shadow: 0px 1px 8px 1px #44444475;
}

.so-icon .test {
    position: absolute;
    width: 30px;
    top: 0px;
    transform: translate(-50%);
    left: 50%;
    background: #fff;
    border-radius: 50%;
    padding: 2px;
    height: 30px;
    box-shadow: 1px 1px 8px 1px #6d6d6d;
}

.test a {
    font-size: 12px;
}
span.fa-stack:nth-of-type(1) {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

span.fa-stack.fa-lg {
    color: #4f598f;
}

.grace p.lead2.dark {
    font-size: 18px;
    margin-bottom: 6px;
}
.grace p.lead4.red.mb0 {
    line-height: 38px;
}

.careericon {
    width: 50px;
    height: 50px;
    float: left;
    border: 1px dashed #ffffff;
    border-radius: 50%;
    text-align: center;
    line-height: 44px;
    position: absolute;
    left: 30px;
    top: -30px;
    background: #b12c27;
}
	
.careericon img{width: 26px;}

.counter {
    padding: 20px 0;
    border-radius: 5px;
}


.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
}
.instr-bx i{
	display:none;
}

:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

.faq-acor #accordion1 .panel.panel-default {
    border-radius: 0px;
}

.faq-acor #accordion1 .panel-heading {
    border-radius: 0px;
}


.mobilescreen{
	display:none;
}

.inst2 i.fa {
    float: left;
    margin-right: 8px;
    line-height: 24px;
    display: block;
    font-size: 14px;
    color: #ffffff;
}

.rgt-icon {
    width: 64%;
    margin: 0 auto;
}

.dat{font-size: 14px;
    font-weight: 700;
margin-bottom: 0px;}

.est{
	font-size: 10px;
    margin-bottom: 0px;
}

#Course p.course.red {
    font-size: 27px;
    font-weight: 700;
    position: relative;
    padding-left: 28px;
    text-align: left;
}

.iconav{
	width: 43px;
    box-shadow: inset -3px -1px 10px 8px #c5bdbda8;
    border: solid 2px #eeb617;
    border-radius: 50%;
    padding: 5px;
    margin-right: 5px;
    display: inline-block;}

.cert{
	font-size: 28px; font-weight: 700; position: relative; padding-left: 28px;
}

.coursetxt {
    width: 100%;
    padding: 110px 82px;
    height: 455px;
}

.videoPoster {
    position: absolute;
    border: solid 5px #fff;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url(https://www.janbasktraining.com/assets/images/thumb-vid.jpg);
    background-size: 100%;
    border-radius: 5px;
    text-indent: -999em;
    overflow: hidden;
    opacity: 1;
    -webkit-transition: opacity 800ms, height 0s;
    -moz-transition: opacity 800ms, height 0s;
    transition: opacity 800ms, height 0s;
    -webkit-transition-delay: 0s, 0s;
    -moz-transition-delay: 0s, 0s;
    transition-delay: 0s, 0s;
}

.align_row_center_right {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
}

.content {
    padding-right: 90px;
    padding-left: 40px;
    max-width: 880px;
    width: 100%;
}
.content h5, .free_consult_section .content h5 {
    padding-left: 55px;
}